<h1>Home#show</h1>
<p>Find me in app/views/home/show.html.erb</p>
<p>Y ahora le ponemos más contenido a la página</p>
<p>Aunque no sé que tanto podemos seguir...</p>
<p>Le valió dos toneladas de pepino...</p>
